.movies {
  display: flex;
  flex-direction: column;
}

.movies__cards_base-settings {
  display: grid;
  margin: 55px auto 0;
}

.movies__cards_1280-plus {
  grid-template-columns: repeat(3, minmax( calc(90vw / 3 - 2vw), calc(90vw / 3 - 2vw)));
  gap: calc(2vw) calc(2vw);
}

.movies__cards_768-1280 {
  grid-template-columns: repeat(2, minmax(335px, 335px));
}

.movies__cards_480-768 {
  grid-template-columns: repeat(2, minmax(335px, 335px));
}

.movies__cards_320-480 {
  grid-template-columns: repeat(1, minmax( 300px, 400px));
}

.movies__cards_hidden {
  display: none;
}

.movies__continue-button {
  /* margin-top: 50px; */
  width: 80%;
  height: 36px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 0px;
  margin: 50px auto 80px;
}

/* @media screen and (max-width: 768px) {
  .movies__cards {
    grid-template-columns: repeat(2, minmax(335px, 335px));
  }
}

@media screen and (max-width: 480px) {
  .movies__cards {
    grid-template-columns: repeat(1, minmax( 300px, 400px));
  }
} */