.movies {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.movies__cards_base-settings {
  display: grid;
  margin: 55px auto 0;
}

.movies__cards {
  grid-template-columns: repeat(3, minmax( 365px, 365px));
  gap: 25px;
}

.movies__cards_320-480 {
  grid-template-columns: repeat(1, minmax( 300px, 400px));
}

.movies__cards_hidden {
  display: none;
}

.movies__continue-button {
  width: 80%;
  height: 36px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 0px;
  margin: 50px auto 80px;
}

.movies__continue-button_hidden {
  display: none;
}

@media screen and (max-width: 1150px) {
  .movies__cards {
    grid-template-columns: repeat(2, minmax(335px, 335px));
    gap: 30px;
  }
}

@media screen and (max-width: 665px) {
  .movies__cards {
    grid-template-columns: repeat(2, minmax(300px, 300px));
    gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .movies__cards {
    grid-template-columns: repeat(1, minmax( 300px, 300px));
    margin: 55px auto 0;
  }
}
